name: DevSecOps Pipeline

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  security-events: write

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      ############################
      # CodeQL
      ############################
      - name: Init CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python

      - name: Run CodeQL
        uses: github/codeql-action/analyze@v3

      ############################
      # Docker build
      ############################
      - name: Build Docker image
        run: docker build -t devsecops-api .

      ############################
      # Trivy (NON BLOQUANT)
      ############################
      - name: Trivy scan (report only)
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: devsecops-api
          severity: CRITICAL,HIGH
          exit-code: 0
